<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1 user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css">
    <link type="text/css" rel="stylesheet" href="../css/footballdetail.css">
</head>
<body>

<div class="wrap" id="exchangecoupon">
    <header id="header">
        <a href="javascript: historty.go(-1)" class="go-back"></a>
        <h1>竞彩足球</h1>
        <a href="javascript:;" class="header-control">选择日期</a>
    </header>
    <div class="body">
        <section class="football-detail">
            <dl>
                <dd class="football-preiod">
                    <div class="preiod-number">
                        <h2>2014-08-12 周五</h2>
                        <span class="toggle-btn"></span>
                    </div>
                    <div class="preiod-cent">
                        <div class="preiod-row">
                            <div class="football-name">
                                <span>英冠</span>
                                <p><em>010</em>&nbsp;&nbsp;<span>04:00</span></p>
                            </div>
                            <div class="football-vs">
                                富雷姆
                            </div>
                            <div class="football-score level">
                                <p>平</p>
                                <span>2:2</span>
                            </div>
                            <div class="football-vs">
                                富雷姆
                            </div>
                        </div>
                        <div class="preiod-row">
                            <div class="football-name">
                                <span>英冠</span>
                                <p><em>010</em><span>04:00</span></p>
                            </div>
                            <div class="football-vs">
                                富雷姆
                            </div>
                            <div class="football-score victory">
                                <p>胜</p>
                                <span>2:1</span>
                            </div>
                            <div class="football-vs">
                                富雷姆
                            </div>
                        </div>
                    </div>

                </dd>
                <dd class="football-preiod">
                    <div class="preiod-number">
                        <h2>2014-08-12 周五</h2>
                        <span class="toggle-btn"></span>
                    </div>
                    <div class="preiod-cent">
                        <div class="preiod-row">
                            <div class="football-name">
                                <span>英冠</span>
                                <p><em>010</em>&nbsp;&nbsp;<span>04:00</span></p>
                            </div>
                            <div class="football-vs">
                                富雷姆
                            </div>
                            <div class="football-score level">
                                <p>平</p>
                                <span>2:2</span>
                            </div>
                            <div class="football-vs">
                                富雷姆
                            </div>
                        </div>
                        <div class="preiod-row">
                            <div class="football-name">
                                <span>英冠</span>
                                <p><em>010</em><span>04:00</span></p>
                            </div>
                            <div class="football-vs">
                                富雷姆
                            </div>
                            <div class="football-score victory">
                                <p>胜</p>
                                <span>2:1</span>
                            </div>
                            <div class="football-vs">
                                富雷姆
                            </div>
                        </div>
                    </div>

                </dd>
            </dl>
        </section>
    </div>
</div>
<script src="./__build/js/main.js"></script>
</body>
</html>