<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1 user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css">
    <link type="text/css" rel="stylesheet" href="../css/login.css">
</head>
<body>

<div class="wrap" id="exchangecoupon">
    <header id="header">
        <a href="javascript: historty.go(-1)" class="go-back"></a>
        <h1>登录</h1>
    </header>
    <div class="body">
        <section class="login">
            <form>
                <div class="l-input">
                    <label class="label icon-user"></label>
                    <div class="form-control">
                        <input type="text" name="uesr" placeholder="用户名/手机号">
                        <span class="input-control clear-btn"></span>
                    </div>
                </div>
                <div class="l-input">
                    <label class="label icon-psd"></label>
                    <div class="form-control">
                        <input type="text" name="uesr" placeholder="用户名/手机号">
                        <span class="input-control toggle-psd"></span>
                    </div>
                </div>
                <div class="forget-psd">
                    <p><a href="findpsd.html">忘记密码</a></p>
                </div>
                <div class="sub-btns">
                    <button class="button register-btn">一键注册</button>
                    <button class="button login-btn">登录</button>
                </div>
            </form>
        </section>
   </div>

</div>
</body>
</html>