<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1 user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css">
    <link type="text/css" rel="stylesheet" href="../css/lotterydetail.css">
</head>
<body>

<div class="wrap" id="exchangecoupon">
    <header id="header">
        <a href="javascript: historty.go(-1)" class="go-back"></a>
        <h1>超级大乐透</h1>
    </header>
    <div class="body">
        <section>
            <div class="lottery-detail">
                <div class="lottery-tit"><strong>第20140304</strong>/<small class="lottery-date">1015-3-4周一</small></div>
                <div class="lottery-result">
                    <div class="number-list"><span>2</span><span>4</span><span>6</span></div>
                </div>
                <div class="lottery-sale">
                    <div class="sale-tit">
                        <span>本期销量（元）</span>
                        <span>                    奖池奖金（元）</span>
                    </div>
                    <div class="sale-price">
                        <span>3333,333,333,333</span>
                        <span>3333.333.333.444</span>
                    </div>
                </div>
                <div class="lottery-win">
                   <dl class="big-happy">
                       <dt class="win-tit">
                           <span>奖项</span>
                           <span></span>
                           <span>中奖注数</span>
                           <span>每注奖金（元）</span>
                       </dt>
                       <dd class="win-body">
                           <div>一等奖</div>
                           <div>
                               <span>基本</span>
                               <span>追加</span>
                           </div>
                           <div>
                               <span>100</span>
                               <span>0</span>
                           </div>
                           <div>
                               <span>18889，000</span>
                               <span>0</span>
                           </div>
                       </dd>
                   </dl>
                    <dl class="even-colorball">
                        <dt class="win-tit">
                            <span>奖项</span>
                            <span>中奖注数</span>
                            <span>每注奖金（元）</span>
                        </dt>
                        <dd class="win-body">
                            <div>一等奖</div>

                            <div>
                                <span>100</span>
                            </div>
                            <div>
                                <span>18889，000</span>
                            </div>
                        </dd>
                    </dl>

                </div>
            </div>
        </section>
    </div>
</div>
<script src="./__build/js/main.js"></script>
</body>
</html>
