<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1 user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css">
</head>
<body>

<div class="wrap" id="exchangecoupon">
    <header id="header">
        <a href="javascript: historty.go(-1)" class="go-back"></a>
        <h1>超级大乐透</h1>
    </header>
    <div class="body">
        <section>
            <ul class="lottery-list">
                <li>
                    <a href="" class="go-detail">
                    <div class="">
                        <div class="lottery-tit"><strong>第20140304</strong><small class="lottery-date">1015-3-4</small></div>
                        <div class="lottery-result">
                            <div class="number-list"><span>2</span><span>4</span><span>6</span></div>
                        </div>
                    </div>
                    </a>
                </li>
                <li>
                    <div class="">
                        <div class="lottery-tit"><strong>第20140304</strong><small class="lottery-date">1015-3-4</small></div>
                        <div class="lottery-result">
                            <div class="number-list"><span>2</span><span>4</span><span>6</span></div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>
<script src="./__build/js/main.js"></script>
</body>
</html>