<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1 user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css">
    <link type="text/css" rel="stylesheet" href="../css/forgetpsd.css">
</head>
<body>

<div class="wrap" id="exchangecoupon">
    <header id="header">
        <a href="javascript: history.go(-1)" class="go-back"></a>
        <h1>编辑用户名</h1>
    </header>
    <div class="body">
        <section class="pd2-conet forget-psd">
            <form>
                <div class="g-input">
                    <label class="label">新用户名：</label>
                    <div class="form-control">
                        <input type="text" name="uesr" placeholder="4-12字符(支持中文)">
                        <span class="input-control clear-btn"></span>
                    </div>
                </div>

                <div class="sub-btns">
                    <button class="button btn-primary">确认</button>
                </div>
            </form>
            <div class="prompt">
                <dl>
                    <dd>
                        <p>1.用户名规则为4-12个字符，1个汉字占2字符，支持汉字字母数字组合，不支持特殊字符，不区分大小写</p>
                    </dd>
                    <dd>
                        <p>2.用户名设置后是系统内唯一且不可更改的，您可以使用设置后的用户名登录，并且会展示在“发起合买”、“参与方案”、“中奖排行”等公共展示的位置</p>
                    </dd>
                </dl>
            </div>
        </section>
   </div>

</div>
</body>
</html>