<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1 user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css">
    <style>

    </style>
</head>
<body>

<div class="wrap" id="exchangecoupon">
    <header id="header">
        <a href="javascript: history.go(-1)" class="go-back"></a>
        <h1>手机号码</h1>
    </header>
    <div class="body">
        <section class="pd2-conet">
            <p class="send-cod-tips">
                包含验证码的短信已发送至13434567890
            </p>
            <form>
                <div class="l-input">
                    <label class="label icon-phone"></label>
                    <div class="form-control">
                        <input type="text" name="uesr" placeholder="请输入您的手机号码" required>
                        <span class="input-control clear-btn"></span>
                    </div>
                </div>
                <div class="l-input">
                    <label class="label icon-code"></label>
                    <div class="form-control">
                        <input type="text" name="uesr" placeholder="输入验证码" required>
                        <span class="input-control clear-btn"></span>
                    </div>
                </div>
                <div class="send-code">
                    <span class="send-btn">发送验证码</span>
                </div>
                <div class="sub-btns">
                    <button class="button btn-primary">确认绑定</button>
                </div>
            </form>
            <div class="prompt">
                <dl>
                    <dt>注意事项</dt>
                    <dd>
                        <p>1.短信验证码每日受网络影响，会出现不同程度的延迟，请耐心等待。</p>
                    </dd>
                    <dd>
                        <p>2.如果1分钟后未收到短信，请查询手机号填写是否正确或重新提交</p>
                    </dd>
                </dl>
            </div>
        </section>
   </div>

</div>
</body>
</html>