<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1 user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css">
    <link type="text/css" rel="stylesheet" href="../css/forgetpsd.css">
</head>
<body>

<div class="wrap" id="exchangecoupon">
    <header id="header">
        <a href="javascript: historty.go(-1)" class="go-back"></a>
        <h1>修改密码</h1>
    </header>
    <div class="body">
        <section class="pd2-conet forget-psd">
            <form>
                <div class="g-input">
                    <label class="label">原密码：</label>
                    <div class="form-control">
                        <input type="text" name="uesr" placeholder="请输入原密码">
                        <span class="input-control clear-btn"></span>
                    </div>
                </div>
                <div class="g-input">
                    <label class="label">新密码：</label>
                    <div class="form-control">
                        <input type="text" name="uesr" placeholder="请输入新密码">
                        <span class="input-control toggle-psd"></span>
                    </div>
                </div>
                <div class="g-input">
                    <label class="label">重复输入：</label>
                    <div class="form-control">
                        <input type="text" name="uesr" placeholder="请再次输入新密码">
                        <span class="input-control toggle-psd"></span>
                    </div>
                </div>
                <div class="sub-btns">
                    <button class="button btn-primary">确认</button>
                </div>
            </form>
        </section>
   </div>

</div>
</body>
</html>