<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1 user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css">
    <link type="text/css" rel="stylesheet" href="../css/usercenter.css">
</head>
<body>

<div class="wrap" id="exchangecoupon">
    <header id="header">
        <a href="javascript: historty.go(-1)" class="go-back"></a>
        <h1>个人资料</h1>
    </header>
    <div class="body">
        <section class="user-center">
            <div class="user-msg">
                <img src="../images/user-center-photo.png" class="user-photo" />
                <span class="user-name">wx-3709883</span>
                <a class="modify-btn" href="./modifyusername.html">修改<em class="icon-gt">&gt;</em></a>
            </div>
            <div class="user-setting">
                <ul class="setting-list">
                    <li>
                        <a href="./setpsd.html">
                            <div class="setting-box">
                                <em class="setting-icon set-psd"></em>
                                <span class="setting-name">密码管理</span>
                                <span class="show-status">未设置<em class="icon-gt">&gt;</em></span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="./setphone.html">
                            <div class="setting-box">
                                <em class="setting-icon set-phone"></em>
                                <span class="setting-name">手机号码</span>
                                <span class="show-status">156779599595<em class="icon-gt">&gt;</em></span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="./setrealname.html">
                            <div class="setting-box">
                                <em class="setting-icon set-realname"></em>
                                <span class="setting-name">身份信息</span>
                                <span class="show-status">未完善<em class="icon-gt">&gt;</em></span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="modify-tele">
                <p>如需修改绑定信息请联系客服：<a href="tele:400-123-1234">400-123-1234</a></p>
            </div>
            <div class="user-center-btn">
                <a class="button btn-border" href="./login.html">切换账户</a>
            </div>
        </section>
   </div>

</div>
</body>
</html>